<form class="form" #frm>
    <div class="form-group">
        <label for="username">
            User Name
        </label>
        <div class="form-control">
            <input type="text" name="username" placeholder="enter user name">
        </div>
    </div>

    <div class="form-group">
        <label for="password">
            Password
        </label>
        <div class="form-control">
            <input type="password" name="password" placeholder="enter password">
        </div>
    </div>
    <input type="button" (click)="submitData(frm)" value="Login">
</form>